[submodule "cakephp"]
	path = cakephp
	url = https://github.com/cakephp/cakephp.git
	ignore = dirty
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
	ignore = dirty
